---
layout: default
---
<main>
  <section class="lista-de-artigos">
    <h1>Blog do Rafael Coelho</h1>
    {% for post in site.posts %}
      <div class="artigo">
        <span class="data"> {% include data.html data=post.date %} </span>
        <a href="{{ post.url }}"> {{ post.title }} </a>
      </div>
    {% endfor %}
  </section>

  <aside>
    <img
      src="{{site.url}}/images/avatar.jpg"
      alt="Meu avatar: garoto palido e tatuado seguranmdo uma guitarra"
      width="148"
      height="148"
    >
    <dl class=links-externos>
      <dt>email</dt>
      <dd><a href="mailto:rafaellcoellho@gmail.com">rafaellcoellho@gmail.com</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/rafaellcoellho"></a>rafaellcoellho</dd>
    </dl>
  </aside>
</main>